
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.body {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-size: 30px;
    font-weight: 900;
    background-color: #636363;
    padding: 16px 0;
}

/* Contents in the .body section */
.section {
    display: flex;
}

/* things inside sec1 */
.one {
    background-color: black;
    height: 400px;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links {
    display: flex;
}
li{
    list-style-type: none;
}


.two {
    /* background-color: #3b3b3b; */
}

.three {
    background-color: 	#222222;
}

.four {
    /* background-color: #636363; */
}

