
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.body {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-size: 30px;
    font-weight: 900;
    background-color: #1f2937;
    padding: 16px 0;
}

/* Contents in the .body section */
.section {
    display: flex;
}

/* things inside sec1 */
.one {
    background-color: #1f2937;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
.hero{
    font-family: 'Cinzel';
    font-weight: 700;
    font-size: 24px;
    color: red;
}
.links {
    display: flex;
    gap: 24px;
    font-size: 18px;
}
a{
    text-decoration: none;
    color: whitesmoke;
}
a:hover {
    text-decoration: underline;
}
li{
    list-style-type: none;
}

.intro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 200px;
    gap: 100px;
}
.introtext{
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    gap: 10px;
}
.introtext .head {
    font-size: 48px;
    color: white;
}
.introtext .short {
    font-size: 18px;
    color: rgb(228, 228, 228);
    flex-grow: 0;
}
.introtext button{
    background-color: black;
    border-radius: 5px;
    border: 2px solid grey;
    padding: 10px;
}
.introimage img {
    width: 500px;
    height: 300px;
    border: 3px solid silver;
    border-radius: 20px;
}
.two {
    /* background-color: #3b3b3b; */
}

.three {
    background-color: 	#222222;
}

.four {
    /* background-color: #636363; */
}

